* {
    margin: 0;
    padding: 0;
  }
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
 
  nav{
    font-size: 32px;
    font-weight: bold;
    background-color: #F5F5F5;
    margin-top: 24px;
    margin-bottom: 24px;


  }
  ul{
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;

    
  }
  .sign{
    color: #006A50;
    background-color: none;
    border-radius: 8px;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 18px;
    border-color: #006A50;
    border-width: 1px;
    transition-duration: 0.4s;
  cursor: pointer;

   
  }
  .sign:hover{
    background-color: rgb(73, 179, 129); 
  color: rgb(255, 255, 255);

  }
  .banner{
    background-color:#C6E4D6 ;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 20px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
  }
  .banner-content{
    margin-top: 117px;
    margin-bottom: 117px;
    margin-left: 60px;
    margin-right: 64px;
    width: 622px;
    height: 325px;
  }
  .br{
    color:#0e0e0e ;
    opacity: 50%;
    font-size: 24px;
    font-weight: 500px;
  }
.bh{
    font-size: 56px;
    font-weight: bold;
    color:#0E0E0E ;
    margin-top: 16px;

}
.ex{
    background-color:#006A50;
    border-radius: 8px;
    color:#FFFFFF ;
    padding: 17px 34px;
    border: none;
    margin-bottom: 117px;
    margin-top: 24px;
    transition-duration: 0.4s;
  cursor: pointer;


}
.ex:hover{
    
        background-color: #20be84;
        color: white;
}
.colamn{
    height: 400px;
    width: 474px;
    margin: 80px 60px 80px 64px;
    


}
.pillars{
    margin: 80px 160px 80px 160px;


}
.ph{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 32px;


}
.progress-container{
    display: flex;
    gap: 24px;
}
.progress{
    padding: 24px;
    border-radius: 16px;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    color: #FFFFFF;
    
}
.p-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
    margin-top: 24px;
    margin-bottom: 12px;
}
.p-des{
    font-size: 16;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 70%;
}
.future{
    margin: 80px 160px 80px 160px;
}
.vision-container{
    display: flex;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;


}
.vision{
    padding: 24px;
    border-radius: 16px;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    
   

}
#blue{
    background-color: rgba(84, 144, 245, 0.2);
    
}
#green{
    background-color: rgba(198, 228, 214, 1);
}
#yellow{
    background-color: rgba(247, 235, 207, 1);
}
.button{
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    padding: 11px 20px;
    margin-top: 24px;
    transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
    background-color: #f8f8f8;
    color: rgb(179, 148, 201);
  }

.reward-part{

margin: 80px 160px 80px 160px;





}


.reward {
    
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px 40px 50px 20px;
    border-radius:16px;
    
}

.recent{
    margin: 120px 160px 80px 160px;
}
#ba{
    margin-bottom:32px ;
}
.news{
    display: flex;
    gap: 32px;
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    margin-bottom:24px ;
}
.satelite{
    margin: 48px 32px 48px 48px;
    border-radius: 24px;
}
.news-content{
    padding:56px 48px 56px 0px;
    
}
.date{
    display: flex;
    gap: 12px;
    font-size: 16;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 12px;
}
#gg{
    background-color: #006A50;
}
.news-content2{

    margin: 56px 0px 56px 48px;
    border-radius: 24px;
}
.satelite-heading{

    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.satelite2{
    margin: 48px 48px 48px 32px;
}
.d-head{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    
   text-shadow: 0px 2px 2px 0px #000000;
    text-align: center;

}
.d-di{
    font-size: 16px;
    font-weight: 400px;
    color:rgba(14, 14, 14, 0.7) ;
    text-align: center;
    margin: 24px 248px 32px 248px ;


}
.card{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin:32px 104px 32px 104px;
}
.car{
    
    padding: 40px 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
    
    
    
    
}
.donate{
    padding:0px 160px 80px 160px ;
}
input{

    height:64px;
    width: 1032px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 124px;
    padding-right: 124px;
    font-size: 20px;
    font-weight: 400;
    color:rgba(14, 14, 14, 0.3) ;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}
.in{
    margin-left: 400px;
    

}
.cnt{
    text-align: center;
}
.subscrib{
    padding: 80px 160px 80px 160px;
    background-color:#C6E4D6 ;
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 24px;
    text-align: center;
    



}
.letter{
    display: flex;
    gap: -1px;
    
    width: 50%;
    margin-left: 425px;
    align-items: center;
    


}
.ddd{
    font-size: 16px;
    font-weight: 400px;
    color:rgba(14, 14, 14, 0.70) ;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 16px;


}
.bbbb{
    height: 56px;
    width: 150px;
    padding: 17px 34px;
    color: #FFFFFF;
    border-radius: 0px 10px 10px 0px;
    transition-duration: 0.4s;
  cursor: pointer;



}
.bbbb:hover {
    background-color: #dabb0f;
    color: rgb(209, 85, 85);
  }

.input-box{
    height: 30px;
    padding-left: 50px;
    border-radius:10px 0px 0px 10px ;
    



}
.spam{
    margin-top: 24px;
    margin-right: 80px;



}