* {
    margin: 0;
    padding: 0;
  }
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
 
  nav{
    font-size: 32px;
    font-weight: bold;
    background-color: #F5F5F5;
    margin-top: 24px;
    margin-bottom: 24px;


  }
  ul{
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;

    
  }
  .sign{
    color: #006A50;
    background-color: none;
    border-radius: 8px;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 18px;
    border-color: #006A50;
    border-width: 1px;
   
  }
  .banner{
    background-color:#C6E4D6 ;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 20px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
  }
  .banner-content{
    margin-top: 117px;
    margin-bottom: 117px;
    margin-left: 60px;
    margin-right: 64px;
    width: 622px;
    height: 325px;
  }
  .br{
    color:#0e0e0e ;
    opacity: 50%;
    font-size: 24px;
    font-weight: 500px;
  }
.bh{
    font-size: 56px;
    font-weight: bold;
    color:#0E0E0E ;
    margin-top: 16px;

}
.ex{
    background-color:#006A50;
    border-radius: 8px;
    color:#FFFFFF ;
    padding: 17px 34px;
    border: none;
    margin-bottom: 117px;
    margin-top: 24px;


}
.colamn{
    height: 400px;
    width: 474px;
    margin: 80px 60px 80px 64px;
    


}
.pillars{
    margin: 80px 160px 80px 160px;


}
.ph{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 32px;


}
.progress-container{
    display: flex;
    gap: 24px;
}
.progress{
    padding: 24px;
    border-radius: 16px;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    color: #FFFFFF;
    
}
.p-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
    margin-top: 24px;
    margin-bottom: 12px;
}
.p-des{
    font-size: 16;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 70%;
}
.future{
    margin: 80px 160px 80px 160px;
}
.vision-container{
    display: flex;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;


}
.vision{
    padding: 24px;
    border-radius: 16px;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    
   

}
#blue{
    background-color: rgba(84, 144, 245, 0.2);
    
}
#green{
    background-color: rgba(198, 228, 214, 1);
}
#yellow{
    background-color: rgba(247, 235, 207, 1);
}
.button{
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    padding: 11px 20px;
    margin-top: 24px;
}
.reward{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-size: 64px 64px;
    
    padding-top: 25px;
}
